<h2> Query Status </h2>
<br/>

<%= form_tag({action: :query}, method: :get) do %>

<div class="field">
  <%= label_tag "#ID" %>
  <%= text_field_tag :object_id, params[:object_id] %>
</div>

<div class="field">
  <%= label_tag "Type" %>
  <!-- <%= text_field_tag :object_type, params[:object_type] %> -->
  <%= select_tag :object_type, options_for_select(Status.distinct.pluck(:object_type), params[:object_type]) %>
</div>

<div class="field">
  <%= label_tag "Timestamp" %>
  <%= select_datetime @timestamp, :prefix => 'ts'  %>
  <%= select_second @timestamp, :prefix => 'ts' %>
</div>

<div class="actions">
    <%= submit_tag("Query") %> or
    <%= link_to 'Back', statuses_path %>
</div>
<% end %>

<hr>

<% if @state_result.present? %>
<p class="state_display">
  <%= @state_result %>
  <span class="json_format_link">
  <%= link_to "In JSON format", current_url(:format=>:json), class: 'in_json_link' %>
  </span>
</p>
<% end %>
