<h2> Query Status </h2>

<%= form_tag({action: :query}, method: :get) do %>

<div class="field">
  <!-- http://apidock.com/rails/ActionView/Helpers/FormTagHelper/select_tag -->
  <%= label_tag "Object ID" %>
  <%= text_field_tag :object_id, params[:object_id] %>
</div>

<div class="field">
  <!-- http://apidock.com/rails/ActionView/Helpers/FormTagHelper/select_tag -->
  <%= label_tag "Object type" %>
  <!-- <%= text_field_tag :object_type, params[:object_type] %> -->
  <%= select_tag :object_type, options_for_select(Status.uniq.pluck(:object_type), params[:object_type]) %>
</div>

<div class="field">
  <%= label_tag "Timestamp" %>
  <%= select_datetime DateTime.now, :prefix => 'ts'  %>
  <%= select_second DateTime.now, :prefix => 'ts'  %>
</div>

<div class="actions">
    <%= submit_tag("Query") %> or
    <%= link_to 'Back', statuses_path %>
</div>
<% end %>

<hr>

<%= @state_result %>
