<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td><strong>#ID:</strong></td>
      <td><%= @status.object_id %></td>
    </tr>
    <tr>
      <td><strong>Type:</strong></td>
      <td><%= @status.object_type %></td>
    </tr>
    <tr>
      <td><strong>Timestamp:</strong></td>
      <td><%= @status.timestamp %></td>
    </tr>
  </tbody>
</table>

<p>
  Last updated <%= time_ago_in_words(@status.updated_at) %>
</p>

<p class="state_display">
  <%= @status.state %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Destroy', @status, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', statuses_path %>
